body, html {
    :root {
    --ast-container-default-md-padding: 3.34em;
}

html {
    font-size: 106.25%;
}

a, .page-title {
    color: var(--ast-global-color-3);
}

a:hover, a:focus {
    color: var(--ast-global-color-0);
}

body, button, input, select, textarea, .ast-button, .ast-custom-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    font-size: 1rem;
    line-height: var(--ast-body-line-height, 1.7em);
}

p, .entry-content p {
    margin-bottom: 0em;
}

h1, .entry-content h1, h2, .entry-content h2, h3, .entry-content h3, h4, .entry-content h4, h5, .entry-content h5, h6, .entry-content h6, .site-title, .site-title a {
    color: var(--ast-global-color-3);
}

h1, .entry-content h1 {
    font-size: 87px;
    font-size: 5.1176470588235rem;
    font-weight: normal;
    font-family: 'Jost', sans-serif;
}

h2, .entry-content h2 {
    font-size: 41px;
    font-size: 2.4117647058824rem;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
}

h3, .entry-content h3 {
    font-size: 28px;
    font-size: 1.6470588235294rem;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
}

h4, .entry-content h4 {
    font-size: 24px;
    font-size: 1.4117647058824rem;
    line-height: 1.25em;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
}

h5, .entry-content h5 {
    font-size: 18px;
    font-size: 1.0588235294118rem;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
}

h6, .entry-content h6 {
    font-size: 15px;
    font-size: 0.88235294117647rem;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
}
body .wp-block-embed-pocket-casts .ast-oembed-container * {
    position: unset;
}

.ast-single-post-featured-section + article {
    margin-top: 2em;
}

.site-content .ast-single-post-featured-section img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.site > .ast-single-related-posts-container {
    margin-top: 0;
}

@media (min-width: 922px) {
    .ast-desktop .ast-container--narrow {
        max-width: var(--ast-narrow-container-width);
        margin: 0 auto;
    }
}

.ast-page-builder-template .hentry {
    margin: 0;
}

.ast-page-builder-template .site-content > .ast-container {
    max-width: 100%;
    padding: 0;
}

.ast-page-builder-template .site .site-content #primary {
    padding: 0;
    margin: 0;
}

.ast-page-builder-template .no-results {
    text-align: center;
    margin: 4em auto;
}

.ast-page-builder-template .ast-pagination {
    padding: 2em;
}

.ast-page-builder-template .entry-header.ast-no-title.ast-no-thumbnail {
    margin-top: 0;
}

.ast-page-builder-template .entry-header.ast-header-without-markup {
    margin-top: 0;
    margin-bottom: 0;
}

.ast-page-builder-template .entry-header.ast-no-title.ast-no-meta {
    margin-bottom: 0;
}

.ast-page-builder-template.single .post-navigation {
    padding-bottom: 2em;
}

.ast-page-builder-template.single-post .site-content > .ast-container {
    max-width: 100%;
}

.ast-page-builder-template .entry-header {
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.single.ast-page-builder-template .entry-header {
    padding-left: 20px;
    padding-right: 20px;
}

.ast-page-builder-template .ast-archive-description {
    margin: 4em auto 0;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 921px) {
    #ast-desktop-header {
        display:none;
    }
}

@media (min-width: 922px) {
    #ast-mobile-header {
        display:none;
    }
}

.wp-block-buttons.aligncenter {
    justify-content: center;
}

@media (max-width: 921px) {
    .ast-theme-transparent-header #primary,.ast-theme-transparent-header #secondary {
        padding:0;
    }
}

@media (max-width: 921px) {
    .ast-plain-container.ast-no-sidebar #primary {
        padding:0;
    }
}

.ast-plain-container.ast-no-sidebar #primary {
    margin-top: 0;
    margin-bottom: 0;
}

.wp-block-button.is-style-outline .wp-block-button__link {
    border-color: var(--ast-global-color-0);
}

div.wp-block-button.is-style-outline > .wp-block-button__link:not(.has-text-color),div.wp-block-button.wp-block-button__link.is-style-outline:not(.has-text-color) {
    color: var(--ast-global-color-0);
}

.wp-block-button.is-style-outline .wp-block-button__link:hover,.wp-block-buttons .wp-block-button.is-style-outline .wp-block-button__link:focus,.wp-block-buttons .wp-block-button.is-style-outline > .wp-block-button__link:not(.has-text-color):hover,.wp-block-buttons .wp-block-button.wp-block-button__link.is-style-outline:not(.has-text-color):hover {
    color: var(--ast-global-color-5);
    background-color: var(--ast-global-color-1);
    border-color: var(--ast-global-color-1);
}

.post-page-numbers.current .page-link,.ast-pagination .page-numbers.current {
    color: #000000;
    border-color: var(--ast-global-color-0);
    background-color: var(--ast-global-color-0);
}

.wp-block-button.is-style-outline .wp-block-button__link.wp-element-button,.ast-outline-button {
    border-color: var(--ast-global-color-0);
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    font-size: 0.94117647058824rem;
    line-height: 1em;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.wp-block-buttons .wp-block-button.is-style-outline > .wp-block-button__link:not(.has-text-color),.wp-block-buttons .wp-block-button.wp-block-button__link.is-style-outline:not(.has-text-color),.ast-outline-button {
    color: var(--ast-global-color-0);
}

.wp-block-button.is-style-outline .wp-block-button__link:hover,.wp-block-buttons .wp-block-button.is-style-outline .wp-block-button__link:focus,.wp-block-buttons .wp-block-button.is-style-outline > .wp-block-button__link:not(.has-text-color):hover,.wp-block-buttons .wp-block-button.wp-block-button__link.is-style-outline:not(.has-text-color):hover,.ast-outline-button:hover,.ast-outline-button:focus,.wp-block-uagb-buttons-child .uagb-buttons-repeater.ast-outline-button:hover,.wp-block-uagb-buttons-child .uagb-buttons-repeater.ast-outline-button:focus {
    color: var(--ast-global-color-5);
    background-color: var(--ast-global-color-1);
    border-color: var(--ast-global-color-1);
}

.wp-block-button .wp-block-button__link.wp-element-button.is-style-outline:not(.has-background),.wp-block-button.is-style-outline>.wp-block-button__link.wp-element-button:not(.has-background),.ast-outline-button {
    background-color: var(--ast-global-color-0);
}

@media (max-width: 921px) {
    .wp-block-button.is-style-outline .wp-block-button__link.wp-element-button,.ast-outline-button {
        font-size:16px;
        font-size: 0.94117647058824rem;
    }
}

@media (max-width: 544px) {
    .wp-block-button.is-style-outline .wp-block-button__link.wp-element-button,.ast-outline-button {
        font-size:15px;
        font-size: 0.88235294117647rem;
    }
}

.entry-content[ast-blocks-layout] > figure {
    margin-bottom: 1em;
}

h1.widget-title {
    font-weight: normal;
}

h2.widget-title {
    font-weight: 500;
}

h3.widget-title {
    font-weight: 600;
}

@media (max-width: 921px) {
    .ast-separate-container #primary,.ast-separate-container #secondary {
        padding:1.5em 0;
    }

    #primary,#secondary {
        padding: 1.5em 0;
        margin: 0;
    }

    .ast-left-sidebar #content > .ast-container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
